div.wrapper {
    min-width: min-content;
    max-width: 450px;
    max-height: 360px;
    max-height: fit-content;
    /* overflow: auto; */
}

div.response {
    max-height: 360px;
    max-height: fit-content;
    max-width: 450px;
}